@{
    ViewData["Title"] = "Home Page";
}


@{
    var successMessage = TempData["SuccessMessage"] as string;
}


@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @successMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
